<body class="nonscroll hide-scroll">

<div class="container-fluid navbar-adjustment full-size standard-background-color">
  <div class="row-fluid full-size">
    <div class="span9 full-size">
      <div class="homepage full-size">
      </div>
    </div><!-- /span9 -->
    <div class="span3">
      <div class="row-fluid">
        <div class='homepage-title'>
          Treasures Bold
        </div>
        <div class='homepage-subtitle'>
          Search and Map Clues to Find the Fenn Treasure
        </div>
        <div class="homepage-gold-chest">
        </div>
      </div><!-- /row -->
      <div class="row-fluid">
        <div class='search-description'>
          <%= bootstrap_flash %>

          Enter clues or keywords<br>
          to find places related to<br>
          Forrest Fenn's treasure
        </div><!-- /search-description -->
      </div><!-- /row -->
      <div class='row-fluid'>
        <div class="homepage-searchbox">

          <%= render 'form' %>
          <%= link_to 'advanced search', search_path %>

        </div><!-- /homepage-searchbox -->
        <p id="notice"><%= notice %></p>
        <p id="alert"></p>
      </div><!-- /row -->
    </div><!-- /span3 -->
  </div><!-- /row -->
</div><!-- /container -->

