/*
 *= require bootstrap_and_overrides
 */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * 
 *= require_self
 *= require_tree .
 */

/* this stretches map to full container dimensions */
/* without this, its necessary to explicitly define height of map-canvas */
#full-size {
	height: 100%;
	width: 100%;
	margin: 0; 
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}
/* end full-size stretching */

h1, h2, h3, h4, h5, h6 {
 	margin: 0px 0;
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
 	color: #3a3a3a;
 	/*color: darkblue;*/
}

body {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
 	color: #3a3a3a;
 	/*margin-top: -40px;*/
 	padding-top: 40px;
 	/*position: fixed;  prevents pages from scrolling under navbar */
}

/* fix for zoom control on google maps */
/* source: http://stackoverflow.com/questions/8879544/google-maps-zoom-control */
img {
	max-width: none;
}

strong {
 	color: darkblue;
}

.row-fluid {
 	width: 100%;
 	min-height: 0px;
 	/* padding-left: 30px; */
 	/* padding-right: 30px; */
}

.row-fluid [class*="span"] {
	min-height: 0px;
}

table {
	border: solid #dddddd 0px;
	/*border-radius: 4px;*/
}

.table th,
.table td {
	padding: 4px;
}

/*Center the heading of the table*/
.table > thead > tr:first-child > th {
 	text-align: center;
 	background-color: #eeeeee;
}

.table-striped > thead > tr > th {
 	background-color: #dddddd;
}

.table-striped > thead > tr > th:nth-child(even) {
 	text-align: center;
 	padding: none;
}

.table-striped {
 	margin-bottom: 5px;
 	text-align: right;
}

.table-striped > tbody > tr > td, 
.table-striped > tbody > tr > th {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
 	color: #3a3a3a;
 	font-size: 16px;
 	vertical-align: middle;
 	padding: 5px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
 	background-color: #ccffcc;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
 	background-color: #EBD89D;
}

.table-striped > tbody > tr:nth-child(even):hover > td,
.table-striped > tbody > tr:nth-child(even):hover > th {
	background-color: goldenrod;
}

.table-striped > tbody > tr:nth-child(odd):hover > td,
.table-striped > tbody > tr:nth-child(odd):hover > th {
	background-color: #8BE08B;
}

/*.table-striped > tbody > tr > td > a,*/
.table-striped > tbody > tr > td > a:hover,
.table-striped > tbody > tr > th > a:hover {
	background-color: transparent;
	color: black;
	/*font-weight: bold;*/
}

.table-striped > tbody > tr > td > a {
	display: block;
	text-decoration: none;
}

/*table heading text*/
th {
 	color: darkblue;
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
 	color: #3a3a3a;
 	font-size: 18px;
}

td {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
 	color: #3a3a3a;
}

/*remove padding for homepage background image*/
.container-fluid {
 	padding-left: 0px;
 	padding-right: 0px;
}

.navbar {
	background-color: #3a3a3a;
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
 	margin-bottom: 0px;
 	padding-left: 30px;
 	padding-right: 10px;
}

.navbar-inner {
	/*background-image: linear-gradient(to bottom, #ffffff, goldenrod);*/
	background-color: #3a3a3a;
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
	border: none;
	border-radius: 0px;
	/*padding: 10px;*/
	/*border-bottom: 10px black;*/
}

.navbar .brand {
	background-color: #3a3a3a;
	color: gold;
	text-shadow: 0 0px 0 #ffffff;
	font-size: 28px;
	font-weight: bold;
	/*height: 40px;*/
}

a .brand {
	background-color: #3a3a3a;
	/*height: 100%;*/
}

.navbar .nav > li > a {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
	font-size: 20px;
	background-color: #3a3a3a;
	color: gold;
	text-shadow: none;
	/*margin: 0px;*/
	/*padding-left: 0px;*/
}

	.navbar .nav > li > a:hover {
		color: white;
		background-color: #222222;
	}

.nav-collapse,
.nav-collapse > li {
	background-color: #3a3a3a;
}

/*.nav-collapse > li > a,
.nav-collapse > li > a:hover,
.nav-collapse > li > a:focus {
	background-color: #3a3a3a;
}*/

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background-color: #3a3a3a;
}

.nav a,
.nav a:hover {
	color: white;
}

.btn .btn-navbar,
.btn .btn-navbar .collapse,
.btn .btn-navbar .nav-collapse .collapse {
	background-color: #3a3a3a;
}

.btn-navbar {
	background-color: #3a3a3a;
}

.navbar .divider-vertical {
	border-left: 1px solid #777777;
	border-right: 1px solid #777777;
	margin: 0px;
}

.row-fluid > .span3 {
	margin: 0px;
	padding-right: 0px;
}

.side-panel {
	/*max-height: 700px;*/
	/*position: absolute;*/
	/*overflow: auto;*/
}

.results-title {
	padding-top: 20px;
	text-align: center;
}

.results-title h1 {
	/*color: #5C4112;*/
}

.legend-box {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
	width: 80%; /* 80% of underlying modal canvas */
	border: 3px solid #9C7C44;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #EBD89D;
	opacity: 0.8;
	line-height: none;
	/*box-shadow: -20px 20px 20px 0px rgba(0, 0, 0, 0.3);*/
	margin-bottom: 10px; /* create space before stats-box */
}

.stats-box {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
	width: 80%; /* 80% of underlying modal canvas */
	border: 3px solid #9C7C44;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #EBD89D;
	opacity: 0.8;
	line-height: none;
	/*box-shadow: -20px 20px 20px 0px rgba(0, 0, 0, 0.3);*/
}

.legend-box > .well {
	margin: 0px;
	padding: 0px;
	/*border-top-left-radius: 0px;*/
	/*border-bottom-left-radius: 0px;*/
}

.results-list {
	/*margin-right: 30px;*/
	/*margin-left: 30px;*/
	/*margin-top: 15px;*/
	/*overflow: scroll;*/
	/*height: auto;*/
	/*max-height: 400px;*/
	height: 100%;
	/*border: solid 1px;*/
	/*box-shadow: 0px 10px 10px;*/
}

.results-heading {
	height: 100%;
	background-color: #D1BE86;
	color: #5C4112;
	/*font-size: 36px;*/
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
	text-align: center;
	/*line-height: 100%;*/
	min-height: 40px;
}

.results-heading h1 {
	/*text-align: center;*/
	/*color: gold;*/
}

#landings-list {
	height: 87%; /* 90% of total side panel */
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 3px;
	/*padding-bottom: 20px;*/
	/*background-color: #F0EAD6;*/
	/*background-color: white;*/
}

.results-footer {
	background-color: #D1BE86;
	height: 100%;
	box-shadow: 0px -2px 5px 0 rgba(0, 0, 0, 0.5);
}

#vert-scroll-off {
	overflow-y: hidden;
}

#white-background {
	background-color: white;
}

.results-list > table.table-striped {
	/*background-color: red;*/
	height: 100%;
	max-height: 600px;
}

.results-list > table.table-striped > tbody > tr > td {
	padding: 0px;
}

.results-items {
	/*overflow: scroll;*/
}

.inner-results {
	overflow: scroll;
	max-height: 600px;
}

/*.inner-table {
	overflow: scroll;
	max-height: 400px;
}*/

.landing-list-marker {
	text-align: center;
	padding-top: 10px; /* center marker vertically */
	vertical-align: middle;
	/*width: 20%;*/
}

.btn-large {
	background: goldenrod;
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
	font-size: 28px;
	width: 50%;
	text-shadow: none;
	border: none;

}

.btn-large:hover {
	background-color: gold;
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
}

/*legend-box sidebar*/
.well {
	/*padding: 0px;*/
	/*margin: 20px;*/
	background-color: #EBD89D;
	border: solid 2px #9C7C44;
	border-radius: 20px;
}

.well table {
	background-color: #EBD89D;
	width: 100%;
	border-radius: 20px 20px 20px 20px;
}

.well table > thead > tr:first-child > th,
.well table > thead > tr:first-child > th > h2 {
	background-color: #D1BE86;
	color: #5C4112;
	border-radius: 20px 20px 20px 20px;
}

.well table > thead > tr > th,
.well table > thead > tr > th {
	background-color: #9C7C44;
	color: #EBD89D;
	/*border-radius: 20px 20px 0px 0px;*/
}

/*.well table > thead > tr > th,*/
.well table > tbody > tr > td {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
	color: #5C4112;
	/*font-size: 16px;*/
	border-radius: 0 0 20px 20px;
}

.well table > tbody > tr {
	border-radius: 0 0 20px 20px;
}

.well table > tbody > tr > td {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
	font-size: 16px;
	text-align: center;
}

.well table > tbody > tr:nth-child(even) > td {
	background-color: #DBCA97;
}

.span8 > .row-fluid,
.span8 > .row-fluid > table {
	/*border: solid 1px;*/
	border-radius: 10px;
	background-color: lightyellow;
	padding: 40px;
	margin: 20px;
}

.dashboard-profile > .span8 > p {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
	font-size: 24px;
}

.dashboard-title,
.dashboard-title > h1 {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
	font-size: 70px;
	text-align: right;
	padding-top: 10px;
	color: #D1BE86;
}

.dashboard-searches {
	border: solid 1px;
	border-radius: 10px;
	background-color: tan;
	padding: 40px;
	margin: 20px;
	width: 100%;
}

.input-large[class=input-large] {
	height: 40px;
	line-height: 30px;
	font-size: 24px;
	width: 100%;
	margin-left: -10px;
	/*padding: 10px;*/
}

.btn.btn-large {
	width: 200px;
}

.btn.disabled {
	background-color: lightgrey;
}

.blank-map,
.blank-map p {
	font-size: 80px;
	color: grey;
	margin-top: 120px;
	line-height: 90px;
}

.search_description {
	text-align: right;
	/*vertical-align: middle;*/
}

.description_heading {
	text-align: right;
	padding-top: 8px;
	/*vertical-align: middle;*/
}

.search_option {
	text-align: left;
}

.highlight,
strong > .highlight {
	background-color: red;
}

.page-heading,
.page-heading h1 {
	text-align: center;
}

.new-background {
	background-color: #CCE9FC;
	/*padding: 10px;*/
	margin: -1px;
	border: 1px solid lightgrey;
}

ul#landing-list-items {
	list-style: none;
	margin-left: 0;
	padding-bottom: 30px;
	/*padding: 10px;*/
	/*background-color: white;*/
}

li#landing-list-items {
	/*background-color: red;*/
	list-style: none;
	/*margin-left: 0;*/
	padding: 10px;
	/*border: 1px solid white;*/
	/*background-color: white;*/
}

#standard-background-color {
	background-color: #F0EAD6;
	height: 100%;
}

#place-details {
	font-size: 20px;
	padding: 5px;
}

.landing-list-links {
	text-align: right;
	padding-top: 9px; /* center links vertically */
}

.landing-index {
	text-align: center;
}

/*body #myModal {
	width: 20%;
	margin-top: 35%;
	margin-left: -48%;
}*/

body #legendModal {
	width: 22%;
	margin-top: 2%;
	margin-left: 6%;
	border: none;
	border-radius: 20px 20px 20px 20px;
	background: transparent;
	box-shadow: none;
}

body #statsModal {
	width: 22%;
	margin-top: 12%;
	margin-left: 6%;
	border: none;
	border-radius: 20px 20px 20px 20px;
	background: transparent;
	box-shadow: none;
}

.modal-button {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
	background-color: #EBD89D;
	color: #5C4112;
	border: 2px solid #9C7C44;
	/*height: 100%;*/
	/*line-height: 100%;*/
	font-size: 24px;
	padding: 10px;
	margin: 5px;
	display: inline-block;
	border-radius: 5px;
	opacity: none;
}

.legend-button {
	/*height: 100%;*/
	/*padding: 5px;*/
	/*vertical-align: bottom;*/
}

/* alignment of close button on modal */
.close {
	margin-right: 7px;
	margin-left: -20px;
}

.legend-title h2 {
	/*background-color: beige;*/
	color: #5C4112;
}

#legend-headings {
	background-color: #9C7C44;
	color: #EBD89D;
	font-size: 20px;
	/*line-height: 22px;*/
	height: 20px;
	padding-top: 2px;
}

#stats-headings {
	background-color: #9C7C44;
	color: #EBD89D;
	font-size: 20px;
	/*line-height: 22px;*/
	height: 20px;
	padding-top: 2px;
}

#legend-row {
	/*display: block;*/
	background-color: #EBD89D;
	font-size: 18px;
	border-top: 3px solid #D1BE86;
	/*vertical-align: center;*/
}

.stats-row {
	background-color: #EBD89D;
	font-size: 18px;
	border-top: 3px solid #D1BE86;
	/*padding: 10px;*/
}

.row-fluid #fields_link [class*="span"] {
	min-height: 30px;
}
