/*
 *= require bootstrap_and_overrides
 */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * 
 *= require_self
 *= require_tree .
 */

/* color scheme */
/* http://colorschemedesigner.com/ */
/* RGB: B09768 */
/**** primary colors: #B09768 #84765B #725722 #D8C195 #D8C7A7 */
/* complement colors: #4A5975 #404858 #182A4C #8798BA #94A1BA */
/* custom charcoal color: #3a3a3a */

/* this stretches map to full container dimensions */
/* without this, its necessary to explicitly define height of map-canvas */
#full-size {
	height: 100%;
	width: 100%;
	margin: 0; 
	padding: 0;
}

.full-size {
	height: 100%;
	width: 100%;
	margin: 0; 
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}
/* end full-size stretching */

/*/*/
h1, h2, h3, h4, h5, h6 {
 	margin: 0px 0;
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
 	color: #3a3a3a;
}

body,
body ul {
	/*font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;*/
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
 	color: #3a3a3a;
 	/*padding-top: 47px; /* prevents navbar from covering top of page */
 	/*position: fixed;  prevents pages from scrolling under navbar */
}

/* fix for zoom control on google maps */
/* source: http://stackoverflow.com/questions/8879544/google-maps-zoom-control */
img {
	max-width: none;
}

/* configure links; need 'body' (not sure why) */
body a {
	/*color: #725722;*/
	/*line-height: 30px;*/
	/*font-size: 20px;*/
	/*text-decoration: none;*/
}

		body a:hover {
			/*color: black;*/
			background-color: inherit;
			text-decoration: none;
		}

		/* not sure how 'focus' is different from 'hover' */
		/*body a:focus {
			color: black;
		}*/

		body a:visited {
			color: #84765B;
		}

				body a:visited:hover {
					color: black;
				}

form {
	margin: 0 0 0;
}

#error-heading {
	/*text-align: center;*/
	/*display: inline-block;*/
	/*float: right;*/
	font-size: 24px;
	color: red;
	/*padding: 10px;*/
	line-height: 32px;
}

#error-message,
#error-message > li {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: red;
	background: inherit;
}

#notice {
	text-align: center;
	/*display: inline-block;*/
	/*float: right;*/
	font-size: 24px;
	color: green;
	/*padding: 10px;*/
	/*margin: 10px;*/
	line-height: 24px;
}

/* remove padding for homepage background image and for collapsed navbar */
.container-fluid {
 	padding-left: 0px;
 	padding-right: 0px;
}

.standard-background-color {
	background-color: #D8C7A7;
	/*height: 100%;*/
	/*padding-top: 47px;*/
}

/*/*/
.row-fluid {
 	width: 100%;
 	min-height: 0px;
 	/* padding-left: 30px; */
 	/* padding-right: 30px; */
}

/*/*/
.row-fluid [class*="span"] {
	min-height: 0px;
}

/*/*/
.row-fluid > .span3 {
	margin: 0px;
	padding-right: 0px;
}

/* make page static (unable to scroll) */
.nonscroll {
	position: fixed;
}

/* hide scrollbar */
.hide-scroll {
	overflow-y: hidden;
}

/***********************/
/***** navbar code *****/
/***********************/

/* add padding so page doesn't slide up under navbar */
.navbar-adjustment {
	padding-top: 57px; /* navbar + border = 58px */
}

/* container-fluid */
.navbar {
	/*font-family: 'Helvetica Neue', 'Helvetica', 'Arial', serif;*/
	background-color: #725722;
}

.navbar-fixed-top {
	margin-bottom: 0;
}

.navbar .navbar-inner {
	background-color: #725722;
	border-bottom: 8px solid #404858;
	background-image: none;
 	padding-left: 30px;
 	padding-right: 10px;
 	line-height: 30px;
	/*background-image: linear-gradient(to bottom, #ffffff, goldenrod);*/
	/*padding: 10px;*/
}

/* .navbar .brand = .navbar a.brand = .navbar > .brand = .navbar > a.brand */
.navbar .navbar-inner .brand {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
	background-color: #725722;
	/*background-image: linear-gradient(to bottom, #182A4C, #404858);*/
	color: goldenrod;
	text-shadow: none;
	font-size: 34px;
	font-weight: bold;
	height: 100%;
	/*line-height: 30px;*/
	/*border-bottom: 2px;*/
}

.navbar .nav > li,
.navbar .nav > li > a {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 20px;
	background-color: #725722;
	color: #D8C7A7;
	text-shadow: none;
	line-height: 30px;
}

.navbar .nav.pull-right > li {
	/*padding: 10px 15px 10px;  bootstrap default for .navbar .nav > li > a */
	/*font-family: 'Helvetica Neue', 'Helvetica', 'Arial', serif;*/
	/*font-size: 20px;*/
	/*background-color: #725722;*/
	/*color: #D8C7A7;*/
	/*text-shadow: none;*/
}
		.navbar .nav > li > a:hover {
			background-color: #404858;
			color: #D8C7A7;
		}

		.nav.pull-right > li.disabled a {
			color: #B09768;
		}
				.nav.pull-right > li.disabled a:hover {
					background-color: inherit;
				}

.navbar .divider-vertical {
	border-left: 1px solid #777777;
	border-right: 1px solid #777777;
	margin: 0px;
}

/***** collapsed navbar *****/
.nav-collapse .nav > li > a {
	font-weight: normal;
}

/* button in collapsed navbar to show more links */
.btn.btn-navbar {
	background: #B09768;
}
		.btn.btn-navbar:hover {
			background: #D8C195;
		}

		/* lines on collapsed navbar button */
		.btn.btn-navbar .icon-bar {
			background-color: #404858;
		}

/***********************/
/*** end navbar code ***/
/***********************/

.legend-box {
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
	width: 80%; /* 80% of underlying modal canvas */
	border: 3px solid #725722;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #D8C195;
	opacity: 0.8;
	line-height: none;
	/*box-shadow: -20px 20px 20px 0px rgba(0, 0, 0, 0.3);*/
	margin-bottom: 10px; /* create space before stats-box */
}

.stats-box {
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
	width: 80%; /* 80% of underlying modal canvas */
	border: 3px solid #725722;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #D8C195;
	opacity: 0.8;
	line-height: none;
	/*box-shadow: -20px 20px 20px 0px rgba(0, 0, 0, 0.3);*/
}

/*/*/
.results-heading {
	/*height: 100%;*/
	/*width: 100%;*/
	height: 60px;
	background-color: #D8C195;
	color: #5C4112;
	/*box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);*/
	text-align: center;
}

.results-footer {
	background-color: #D8C195;
	height: 100%;
	/*box-shadow: 0px -2px 5px 0 rgba(0, 0, 0, 0.5);*/
}

/* this enables background of results sidebar to be white 
while the ul background and li:hover are different colors */
li {
	background-color: white;
}

ul#landing-list-items {
	list-style: none;
	margin-left: 0;
	padding-bottom: 25%;
	/*background-color: grey;*/
}

li#landing-list-items {
	/*font-family: 'Helvetica Neue';*/
	list-style: none;
	padding: 8px;
	font-size: 18px;
	line-height: 24px;
	color: #3a3a3a;
	/*background-color: white;*/
	/*margin: 1px;*/
	/*margin-left: 0;*/
	/*border: 1px solid white;*/
	/*margin-top: 1px;*/
	display: block;
}

li#landing-list-items a {
	/*color: #5C4112;*/
	/*color: #725722;*/
}

/*/*/
#landings-list {
	height: 90%;
	padding-bottom: 20%;
	overflow-y: scroll;
	overflow-x: hidden;
	/*padding-top: 4px;*/
	/*padding-bottom: 20px;*/
	/*background-color: beige;*/
	background-color: #D8C195;
	/*background-color: white;*/
}

/*/*/
.landing-list-marker {
	text-align: center;
	padding-top: 10px; /* center marker vertically */
	vertical-align: middle;
	/*width: 20%;*/
}

.new-background {
	/*background-color: #CCE9FC;*/
	background-color: beige;
	/*padding: 10px;*/
	/*margin: -1px;*/
	/*margin-top: -1px;*/
	/*margin-bottom: -1px;*/
	/*border: 1px solid lightgrey;*/
	/*border-top: 1px solid lightgrey;*/
	/*border-bottom: 1px solid lightgrey;*/
}

.landing-list-links {
	float: right;
	text-align: right;
	/*padding-bottom: 5px;  center links vertically  */
	/*font-size: 14px;*/
	/*padding: 1px;*/
}

.landing-list-links a {
	float: right;
	text-align: right;
	color: #725722;
	font-size: 14px;
	padding: 3px;
	margin-bottom: 2px;
}
	  .landing-list-links a:hover {
	  	padding: 3px;
	  	background-color: #D8C195;
	  	border-radius: 5px;
	  	color: black;
	  }

.landing-index {
	text-align: center;
}

.place-details-heading {
	/*height: 100%;*/
	/*width: 100%;*/
	height: 50px;
	padding-top: 10px;
	background-color: #D8C195;
	text-align: center;
	/*box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);*/
}

.place-details-heading h1 {
	/*color: #5C4112;*/
	color: #3a3a3a;
	font-weight: normal;
}

.place-details-panel {
	height: 100%; /* 90% of total side panel */
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: beige;
	padding: 10px;
}

/* formatting for landing#show page */
.place-details {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 20px;
	padding: 5px;
	color: #5C4112;
}

.place-details-footer {
	background-color: #D8C195;
	height: 100%;
}

.input-large[class="input-large"] {
	height: 40px;
	line-height: 30px;
	font-size: 24px;
	width: 85%;
	margin-top: -10px;
	background: beige;
	/*padding: 10px;*/
}

.comment-box {
	/*width: 100%;*/
	font-size: 24px;
	line-height: 30px;
	margin-top: -10px;
	margin-bottom: 0px;
	background: beige;
}

/*button > .btn {
	text-align: center;
}*/

.btn-large.homepage {
	/*font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;*/
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', serif;
	background: #4A5975;
	color: #D8C7A7;
	/*color: white;*/
	font-size: 28px;
	width: 70%;
	text-shadow: none;
	border: none;
}
		.btn-large.homepage:hover {
			background-color: #404858;
			font-family: 'Helvetica Neue', 'Helvetica', 'Arial', serif;
		}

.btn.disabled {
	background-color: lightgrey;
}

.span8 > .row-fluid,
.span8 > .row-fluid > table {
	/*border: solid 1px;*/
	border-radius: 10px;
	background-color: lightyellow;
	padding: 40px;
	margin: 20px;
}

.dashboard-profile > .span8 > p {
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
	font-size: 24px;
}

.dashboard-title,
.dashboard-title > h1 {
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
	font-size: 70px;
	text-align: right;
	padding-top: 10px;
	color: #D1BE86;
}

.dashboard-searches {
	border: solid 1px;
	border-radius: 10px;
	background-color: tan;
	padding: 40px;
	margin: 20px;
	width: 100%;
}

.blank-map,
.blank-map p {
	font-size: 80px;
	color: grey;
	margin-top: 120px;
	line-height: 90px;
}

.search_description {
	text-align: right;
	/*vertical-align: middle;*/
}

.description-heading {
	text-align: right;
	/*padding-top: 8px;*/
	font-size: 28px;
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
	line-height: 34px;
	font-weight: bold;
	margin-bottom: 20px;
	/*vertical-align: middle;*/
}

.search_option {
	text-align: left;
}

.highlight,
strong > .highlight {
	background-color: red;
}

.page-title {
	text-align: center;
	padding: 5px;
	font-size: 40px;
	line-height: 40px;
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
	font-weight: bold;
	padding-top: 40px;
}

.page-subtitle {
	text-align: center;
	padding: 5px;
	font-size: 28px;
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
	line-height: 34px;
	font-weight: normal;
	margin-bottom: 20px;
}

.static-page-text,
.static-page-text p {
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 0.5px;
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
	font-weight: lighter;
}
		.static-page-text a {
			color: #664D1C;
		}
				.static-page-text a:hover {
					color: black;
				}
				.static-page-text a:visited {
					color: lightbrown;
				}

/*body #myModal {
	width: 20%;
	margin-top: 35%;
	margin-left: -48%;
}*/

body #legendModal {
	width: 22%;
	margin-top: 2%;
	margin-left: 6%;
	border: none;
	border-radius: 20px 20px 20px 20px;
	background: transparent;
	box-shadow: none;
}

body #statsModal {
	width: 22%;
	margin-top: 12%;
	margin-left: 6%;
	border: none;
	border-radius: 20px 20px 20px 20px;
	background: transparent;
	box-shadow: none;
}

.modal-button {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', serif;
	background: #4A5975;
	color: #D8C195;
	/*border: 2px solid #9C7C44;*/
	/*height: 100%;*/
	line-height: 30px;
	font-size: 20px;
	padding: 5px;
	margin: 10px;
	display: inline-block;
	/*float: right;*/
	border-radius: 5px;
	opacity: none;
	text-decoration: none;
	width: 30%;
}
	.modal-button:hover {
		background-color: #404858;
		color: #D8C7A7;
	}

/* alignment of close button on legend-box and stats-box */
.close {
	margin-right: 7px;
	margin-left: -20px;
}

.legend-title h2 {
	color: #725722;
}

.stats-title h2 {
	color: #725722;
}

#legend-headings {
	background-color: #725722;
	color: #D8C7A7;
	font-size: 20px;
	/*line-height: 22px;*/
	height: 20px;
	padding-top: 2px;
}

#stats-headings {
	background-color: #725722;
	color: #D8C7A7;
	font-size: 20px;
	/*line-height: 22px;*/
	height: 20px;
	padding-top: 2px;
}

#legend-row {
	/*display: block;*/
	/*background-color: white;*/
	font-size: 18px;
	border-top: 3px solid #b09768;
}

.stats-row {
	/*background-color: #EBD89D;*/
	font-size: 18px;
	border-top: 3px solid #b09768;
}

.row-fluid #fields_link [class*="span"] {
	min-height: 30px;
}

/* resizing to hide search results sidebar */
#hidden-sidebar {
	width: 125%;
	height: 100%;
}

input {
	/*color: green;*/
	/*display: none;*/
}

input[type=text] {
	margin-bottom: 0;
}

input[type="checkbox"] {
	/*color: green;*/
	/*line-height: 40px;*/
	/*display: inline-block;*/
	/*height: 40px;*/
	/*font-size: 30px;*/
	visibility: hidden;
}

input[type="checkbox"]:checked {
	/*color: green;*/
	/*line-height: 40px;*/
	/*font-size: 30px;*/
	/*display: none;*/
}

input#elevation_5000 {
	/*color: green;*/
	/*display: none;*/
}


/*********** source for slider below ***********/
/*** paulund.co.uk/style-checkboxes-with-css ***/

/**
 * Checkbox Three
 */
.checkbox-slider {
	width: 75px;
	height: 26px;
	background: #404858;
	/*margin: 10px 10px;*/
	border-radius: 50px;
	position: relative;
}

/**
 * Create the text for the On position
 */
.checkbox-slider:before {
	content: 'On';
	position: absolute;
	top: 4px;
	left: 10px;
	height: 1px;
	color: #8798BA;
	font-size: 14px;
}

/**
 * Create the label for the off position
 */
.checkbox-slider:after {
	content: 'Off';
	position: absolute;
	top: 4px;
	left: 41px;
	height: 1px;
	color: #B09768;
	font-size: 14px;
}

/**
 * Create the pill to click
 */
.checkbox-slider label {
	display: block;
	width: 30px;
	height: 16px;
	border-radius: 10px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	z-index: 1;
	left: 6px;
	background: #D8C195;
}

/**
 * Create the checkbox event for the label
 */
.checkbox-slider input[type=checkbox]:checked + label {
	left: 39px;
	background: #94A1BA;
}

.checkbox-slider-text {
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
	line-height: 30px;
	font-size: 20px;
	/*text-align: right;*/
	/*display: block;*/
}

.checkbox-slider-text-small {
	font-size: 18px;
}

.checkbox-slider-text-elevation {
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
	line-height: 30px;
	font-size: 20px;
	/*text-align: left;*/
}

/* .custom-checkbox */
.custom-checkbox {
  width: 20px;
  position: relative;
  float: right;
  margin-top: 3px;
  /*margin: 20px auto;*/
}

.custom-checkbox label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #404858;
  /*background: linear-gradient( top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100% );*/
  /*background: -webkit-linear-gradient( top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100% );*/
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.custom-checkbox label:after {
  content: '';
  width: 10px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid lightblue;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
  -webkit-transform:rotate(-45deg); /* Safari & Chrome */
}

.custom-checkbox label:hover::after {
  opacity: 0.4;
}

.custom-checkbox input[type="checkbox"] {
  visibility: hidden;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
/* end .custom-checkbox */

.hide-link,
.hide-link a {
	font-size: 12px;
	text-align: center;
	font-family: "Arial";
	padding-bottom: 12px;
	text-decoration: none;
}

.show-link {
	padding: 10px 0 10px 0;
	/*padding-bottom: 10px;*/
}
		.show-link a,
		.show-link a:visited {
			font-size: 16px;
			/*text-align: center;*/
			font-family: "Arial";
			color: #4A5975;
			text-decoration: none;
			padding: 7px;
			/*border: 1px solid #D8C7A7;*/
			border-radius: 0 0 15px 0;
		}

		.show-link a:hover {
			background-color: #94A1BA;
			padding: 7px;
			border-radius: 0 0 15px 0;
		}

.show-link-selected {
	/*border: 5px solid #4A5975;*/
	background-color: #BFA97E;
	color: black;
}

.sidebar-plank {
	font-size: 16px;
	line-height: 24px;
	/*text-align: center;*/
	font-family: "Arial";
	text-decoration: none;
	padding: 7px;
	/*padding: 10px 0 10px 0;*/
	border-radius: 0 0 15px 0;
	background-color: #BFA97E;
	color: darkbrown;
}

.show-fields-link,
.show-fields-link a,
.show-fields-link a:visited {
	font-size: 16px;
	font-family: 'Arial';
	color: #4A5975;
	text-decoration: none;
	padding: 7px;
	margin: 5px;
	border-radius: 5px;
	text-indent: 30px;
}

.show-fields-link a:hover {
	background-color: #94A1BA;
	padding: 7px;
	border-radius: 5px;
}

.sidebar {
	margin-left: 20px;
	border-left: 5px solid #B09768;
}
		.sidebar-heading {
			font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
			font-size: 26px;
			color: #3a3a3a;
			background-color: #B09768;
			text-decoration: none;
			padding: 10px;
			border-radius: 0 0 20px 0;
			width: 180px;
			margin-bottom: 5px;
			font-weight: bolder;
		}

.author-details {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', serif;
	text-decoration: none;
	text-align: right;
	font-weight: normal;
	margin-right: 8px;
	/*padding: 7px;*/
	/*padding: 10px 0 10px 0;*/
}

.coordinate-label {
	display: inline-block;
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
	font-size: 20px;
	margin-bottom: 20px;
}

/*** reexamine ***/
/*/*/
table {
	border: solid #dddddd 0px;
	/*border-radius: 4px;*/
}

.table th,
.table td {
	padding: 4px;
}

/*Center the heading of the table*/
.table > thead > tr:first-child > th {
 	text-align: center;
 	background-color: #eeeeee;
}

.table-striped > thead > tr > th {
 	background-color: #dddddd;
}

.table-striped > thead > tr > th:nth-child(even) {
 	text-align: center;
 	padding: none;
}

.table-striped {
 	margin-bottom: 5px;
 	text-align: right;
}

.table-striped > tbody > tr > td, 
.table-striped > tbody > tr > th {
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
 	color: #3a3a3a;
 	font-size: 16px;
 	vertical-align: middle;
 	padding: 5px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
 	background-color: #ccffcc;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
 	background-color: #EBD89D;
}

.table-striped > tbody > tr:nth-child(even):hover > td,
.table-striped > tbody > tr:nth-child(even):hover > th {
	background-color: goldenrod;
}

.table-striped > tbody > tr:nth-child(odd):hover > td,
.table-striped > tbody > tr:nth-child(odd):hover > th {
	background-color: #8BE08B;
}

/*.table-striped > tbody > tr > td > a,*/
.table-striped > tbody > tr > td > a:hover,
.table-striped > tbody > tr > th > a:hover {
	background-color: transparent;
	color: black;
	/*font-weight: bold;*/
}

.table-striped > tbody > tr > td > a {
	display: block;
	text-decoration: none;
}

/*table heading text*/
th {
 	color: darkblue;
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
 	color: #3a3a3a;
 	font-size: 18px;
}

td {
	font-family: 'IM Fell DW Pica', 'Modern Antiqua', 'Georgia', serif;
 	color: #3a3a3a;
}

.field_with_errors {

}


