//
// ALL STYLES FOR MAP PAGE
//

// the parent elements of #map must have height and width set to 100%
#map-container {
  height: 100%;
  width: 100%;
  max-width: 100%; // this is necessary to stretch the map to the width of the window
  padding: 0px; // override bootstrap .container settings
}

// the parent elements of #map must have height and width set to 100%
#map-row {
  height: 100%;
  width: 100%;
  margin: 0px; // override bootstrap .row settings
  padding-bottom: 68px;
}

// the parent elements of #map must have height and width set to 100%
#map-column {
  height: 100%;
  width: 100%;
  margin: 0px;  // override bootstrap .col- settings
  padding: 0px; // override bootstrap .col- settings
}

// the parent elements of #map must have height and width set to 100%
#map-canvas {
  height: 100%;
  width: 100%;
  // padding-bottom: 60px; // this offsets the height of the navbar so that the bottom of the map lines up with the bottom of the browser window
}

// the parent elements of #map must have height and width set to 100%
#map {
  height: 100%;
  max-height: 100%;
  width: 100%;
  position: relative; // this is automatically set by Google Maps API
  overflow: hidden;   // this is automatically set by Google Maps API
}

.search-field-explanation {
  // background-color: lightblue;
  font-style: italic;
  color: darkgoldenrod;
}

#feature-type-list-button {
  padding: 0.25rem;
  font-size: 0.75rem;
  line-height: 1.2;
  border-radius: 0.15rem;
}

#results-panel {
  height: inherit;
  width: 100%;
  margin: 0px;  // override bootstrap settings
  padding: 0px; // override bootstrap settings
  //padding-bottom: 68px;
}

.results-summary {
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  overflow: visible;
}

.results-list {
  // height: 100%; // a height value must be present for the overflow values to take effect
  height: inherit; // a height value must be present for the overflow values to take effect
  overflow-y: scroll;
}

.result-card {
  padding: 8px;
}

.result-header {
  font-size: 18px;
  font-weight: bold;
  color: royalblue;
}

.result-location {
  font-size: 14px;
  font-weight: bold;
  color: green;
}

.result-body {
  font-size: 14px;
}

.result-background-hover {
  background-color: #f2f2f2;

}
