//
// ALL STYLES FOR NAVBAR
//

#navbar-container {
  max-width: 100%; // overrides bootstrap default settings
  padding: 0px;    // overrides bootstrap default settings
  background-color: #725722;
  // font-family: 'Helvetica Neue', 'Helvetica', 'Arial', serif;
}

.brand {
  color: gold;
  font-size: 30px;
}
  .brand:hover {
    color: goldenrod;
    text-decoration: none;
  }