//
// ALL STYLES FOR NAVBAR
//

#navbar-container {
  max-width: 100%; // overrides bootstrap default settings
  padding: 0px;    // overrides bootstrap default settings
  background-color: #725722;
  // font-family: 'Helvetica Neue', 'Helvetica', 'Arial', serif;
}

.brand {
  color: gold;
  font-size: 30px;
}
  .brand:hover {
    color: goldenrod;
    text-decoration: none;
  }

#navbar-search-button {
  color: gold;
  border-color: gold;
  background-color: transparent; // inherited from bootstrap defaults
  background-image: none;        // inherited from bootstrap defaults
}
  #navbar-search-button:hover {
    color: #725722;
    background-color: gold;
    border-color: gold;
  }

.nav-link {
  color: goldenrod;
  font-size: 24px;
}
  .nav-link:hover {
    color: tan;
  }