/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.homepage {
	background: #F0EAD6; /* fallback light-grey color */
	background-image: url('old_map.jpg'); /* fallback image */
	/*background: url('treasure_map_compass_x.jpg') no-repeat center center fixed; */
  background: -webkit-linear-gradient(right, rgba(216,199,167,255) 0%,rgba(0,0,0,0) 50%), url('treasure_map_compass_x.jpg') no-repeat center center;
  /*background: -webkit-radial-gradient(right, rgba(255,255,255,255) 0%,rgba(0,0,0,0) 80%), url('treasure_map_compass_x.jpg') no-repeat center center;*/
	/*-webkit-mask-image: -webkit-gradient(linear, left 10%, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
	/*background-image: url('treasure_map_compass_x.jpg'), -webkit-gradient(linear, left top, left bottom, from(white), to(black));*/
	/*background-image: -webkit-radial-gradient(left, rgba(0,0,0,0) 50%, rgba(255,255,255,255) 90%), url('treasure_map_compass_x.jpg');*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*min-height: 800px;*/
	background-size: cover;
	/*margin-left: -30px;*/
	/*margin-right: 200px;*/
	/*padding: 0 15px;*/
	position: relative;
	z-index: 1;
}

/*.title-panel {
	height: 100%;
	width: 100%;
	position: relative;
}*/

.homepage-title {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
 	color: #3a3a3a;
	font-size: 90px;
	line-height: 120%;
	font-weight: bold;
	text-align: right;
	padding-top: 25px;
	position: relative;
	z-index: 3;
	margin-left: -250%;
	float: right;
}

.homepage-subtitle {
	font-family: "IM Fell DW Pica", "Modern Antiqua", serif;
 	color: #3a3a3a;
	font-size: 28px;
	line-height: 100%;
	font-weight: bold;
	text-align: right;
	padding-top: 150px;
	position: relative;
	z-index: 4;
	margin-left: -250%;
}

.homepage-gold-chest {
	margin-top: 20px;
	height: 270px;
  width: 270px;
	margin-bottom: 20px;
  background: -webkit-radial-gradient(center, rgba(0,0,0,0) 40%, rgba(216,199,167,255) 72%), url('treasure_chest_short.jpg') no-repeat center 20%;
	/*background: url('treasure_chest_short.jpg') no-repeat center 20%;*/
  /*box-shadow: inset 0px 0px 30px rgba(1,1,1,1);*/
  float: right;
  position: relative;
  z-index: 2;
}

.search-description {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', serif;
	color: #725722;
	font-size: 24px;
	line-height: 28px;
	text-align: right;
	/*margin-left: -40px;*/
	position: relative;
	z-index: 5;
}

.homepage-searchbox,
.homepage-searchbox a {
	width: 75%;
	float: right;
	text-align: right;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', serif;
 	color: #3a3a3a;
 	/*font-size: 50px;*/
 	position: relative;
 	z-index: 5;
}

/*.old_map {
	background: -webkit-linear-gradient(left, rgba(255,215,0,255), rgba(0,0,0,0) 100%), url('old_map.jpg') no-repeat;
	width: 100%;
	min-height: 700px;
	background-size: cover;
	padding-right: 300px;
}*/