<div class="container-fluid navbar-adjustment full-size standard-background-color">
	<div class="row-fluid">
		<div class="span4">
			<br>
		</div><!-- /span4 -->

		<div class="span4">
			<div class="page-title">
				Thank you for your message.
			</div>
			<div class="page-subtitle">
				We will respond to you soon.
			</div><!-- /page_heading -->
		</div><!-- /span4 -->
		<div class="span4">
			<div id="alert"></div>
			<div id="error"><%= flash[:error] %></div>
			<div id="notice"><%= flash[:notice] %></div>
		</div>
	</div><!-- /row -->
</div><!-- /container -->