.container#navbar-container
  %nav.navbar
    %a.brand{href: "/"} Treasures Bold
    %ul.navbar-nav.mr-auto
      %li.nav-item.mx-5
        %a.nav-link{href: "/search"} Advanced Search
    = form_for(geo_features_path, method: 'get') do |f|
      .form-inline
        = f.text_field :query, name: 'search[query]', class: 'form-control mr-sm-2', placeholder: 'Keyword'
        = f.submit 'Search', class: 'btn btn-outline-info my-2 my-sm-0', id: 'navbar-search-button'